table {
    width: 100%;
}

.top-border {
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.bg-beige {
    background-image: url("../../../../assets/images/background-beige.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: #55b0d6;
    color: #fff;
}