<div class="h-full bg-beige">

    <!-- Title -->
    <div class="grid grid-rows-1 grid-cols-1 justify-items-center p-6">
        <p class="bg-gray-700 text-white py-2 px-5 rounded-xl font-medium text-2xl shadow-2xl">
            {{enum.title}}
        </p>
    </div>


    <!-- Input To Search -->
    <div class="grid grid-rows-1 grid-cols-1 mx-2 lg:mx-4">
        <form [formGroup]='formGroup'>
            <input-myHotel formControlName="valueToSearch" [isRequired]="false" [label]="'Search'" [placeholder]="'Type a value to search in the table'" [type]="'text'" [suffix]="'search'"></input-myHotel>
        </form>
    </div>

    <!-- Table -->
    <div class="mx-2 lg:mx-4 shadow-2xl">

        <!-- Header -->
        <div class="grid grid-rows-1 grid-cols-5 bg-gray-700 py-3 px-2 text-white top-border">

            <div class="grid grid-cols-1">
                {{enum.id}}
            </div>

            <div class="grid grid-cols-1">
                {{enum.name}}
            </div>

            <div class="grid grid-cols-1">
                {{enum.lastname}}
            </div>

            <div class="grid grid-cols-1">
                {{enum.email}}
            </div>

            <div class="grid grid-cols-1">
                {{enum.createdAt}}
            </div>

        </div>


        <!-- Body -->
        <ng-container *ngIf="currentUsers.length > 0">
            <div class="grid grid-rows-1 grid-cols-5 bg-gray-200">

                <ng-container *ngFor="let user of currentUsers | filter:formGroup.get('valueToSearch')?.value">

                    <div class="grid grid-cols-1 mt-5 px-2 truncate">
                        {{user.id}}
                    </div>

                    <div class="grid grid-cols-1 mt-5 px-2 truncate">
                        {{user.name}}
                    </div>

                    <div class="grid grid-cols-1 mt-5 px-2 truncate">
                        {{user.lastName}}
                    </div>

                    <div class="grid grid-cols-1 mt-5 px-2 truncate">
                        {{user.email}}
                    </div>

                    <div class="grid grid-cols-1 mt-5 px-2 truncate">
                        {{user.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}
                    </div>

                    <div class="col-span-5 mt-5">
                        <mat-divider></mat-divider>
                    </div>

                </ng-container>

            </div>
        </ng-container>

        <!-- Empty Values -->
        <ng-container *ngIf="currentUsers.length === 0">
            <div class="grid grid-rows-1 grid-cols-1 bg-gray-200">
                <p class="p-5 pt-8 justify-self-center text-lg font-medium">
                    {{enum.emptyTable}}
                </p>
            </div>
        </ng-container>
    </div>

    <!-- Back Button -->
    <div class="grid grid-rows-1 grid-cols-1 mt-5 mx-2 lg:mx-4">
        <button routerLink="/sign-in" class="w-full md:w-48 mt-2 justify-self-end" mat-raised-button type="submit">
            {{enum.button}}
        </button>
    </div>

</div>