.background {
    background-image: url("../../../../src/assets/images/background.jpg");
    box-shadow: 0 0 20px #000;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-beige {
    background-image: url("../../../../src/assets/images/background-beige.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}