<div class="grid grid-cols-6 h-full">

    <!-- Sign In | Register Side -->
    <div class="col-span-6 lg:col-span-2 bg-beige">
        <div class="grid grid-cols-1 h-full justify-items-center items-center mx-14">

            <!-- Card Content -->
            <div class="rounded-xl shadow-2xl bg-white">
                <div class="p-20 lg:p-16">

                    <!-- MyHotel Logo -->
                    <div class="flex justify-center w-32 mb-1">
                        <img src="../../../../assets/logo/my-hotel.png" alt="myHotel-logo">
                    </div>


                    <!-- Title ( Register | Sign In ) -->
                    <div class="font-semibold text-cyan-900 text-xl mb-3">
                        {{ title }}
                    </div>

                    <mat-divider></mat-divider>

                    <!-- Children Routes -->
                    <section class="mt-6">
                        <router-outlet></router-outlet>
                    </section>

                </div>
            </div>

        </div>
    </div>

    <!-- Room Picture Side -->
    <div class="col-span-4 background hidden lg:flex"></div>

</div>