mat-icon {
    color: #55b0d6;
}

mat-error {
    font-size: 12px;
}

:host ::ng-deep mat-form-field .mat-form-field-outline-start {
    background-color: white !important;
}

:host ::ng-deep mat-form-field .mat-form-field-outline-gap {
    background-color: white !important;
}

 :host ::ng-deep mat-form-field .mat-form-field-outline-end {
    background-color: white !important;
}