<div class="grid grid-cols-1 mb-4">
    <mat-form-field appearance="outline">
        <mat-label *ngIf="label != ''">
            {{label}}
            <span *ngIf="isRequired" class="text-red-600">*</span>
        </mat-label>

        <mat-icon *ngIf="prefix != ''" matPrefix>{{prefix}}</mat-icon>

        <input (click)="onTouch()" (keyup)="change($event)" matInput placeholder="{{placeholder}}" type="{{type}}" [value]="currentValue">

        <mat-icon *ngIf="suffix != ''" matSuffix>{{suffix}}</mat-icon>

    </mat-form-field>

    <mat-error class="text-sm" *ngIf="hasError">{{enum.invalid}}</mat-error>
</div>