/* You can add global styles to this file, and also import other style files */


/* Imports */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}