<form (ngSubmit)="onSubmit()" [formGroup]='formGroup'>
    <input-myHotel formControlName="email" [isRequired]="true" [label]="'Email'" [type]="'text'" [suffix]="'email'" [hasError]="fieldHasErrors('email')"></input-myHotel>

    <input-myHotel formControlName="password" [isRequired]="true" [label]="'Password'" [type]="'password'" [suffix]="'security'" [hasError]="fieldHasErrors('password')"></input-myHotel>

    <div class="grid grid-cols-1 justify-items-end mb-4">
        <a class="text-sky-600" routerLink="/register">
            {{enum.dontHaveAnAccount}}
        </a>
    </div>

    <button class="w-full" type="submit" mat-raised-button>{{enum.componentName}}</button>
</form>